.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-item 
      .left-item__group-name
        =@group.name
      %ul.left-item__group-member
        Member : 
        -@group.users.each do |user|
          %li= user.name
    .chat-main__group-info__right-item
      =link_to edit_group_path(@group) ,class: "right-item__edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content,class: 'new-message-box__text',placeholder: 'type a message'
      .new-message-box
        = f.label :image, class: 'new-message-box__image' do
          = icon('far','image')
          = f.file_field :image,class: 'new-message-box__file'
      = f.submit 'Send', class: 'new-message__submit-btn'